/* Colors */

$white: #fff;
$black: #000;
$orange: #ffa700;
$white-text: #fff;
$black-text: #000;
$title-color: #1f1f1f;
$text-color: #5f5a5a;
$date-color: #808080;

/* Fonts */

$Rubik: "Rubik", sans-serif;

$light: 300;
$Regular: 400;
$Medium: 500;
$Bold: 700;
$Black: 900;

$Regular: normal;
$Italic: italic;

/*title*/

$h1: 50px;
$h2: 30px;
$h3: 25px;
$h4: 20px;
$h5: 16px;
// $h6: 14px;

/*text*/

$font-text: 16px;
