.service-wrapper {
  background-image: url("../img/section-bi-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      179deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.91) 39%,
      rgba(255, 255, 255, 0.58) 72%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  & .service {
    padding: 20px 0 200px 0;

    & .service-block {
      margin-bottom: 200px;
    }
  }
}
