.header-slider {
  width: 100%;
  height: 682px;
  position: relative;

  & .slider-1 {
    & .item {
      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.48);
        z-index: 1;
      }

      & .banner {
        display: block;
        width: 100%;
        height: 682px;
        position: relative;
      }

      & .header-slider_main {
        width: 1070px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        & .header-slider_box {
          display: flex;
          align-items: center;
          margin-bottom: 37px;

          & img {
            display: block;
            flex: 0 0 60px;
            height: 60px;
            margin-left: 19px;
          }

          & .header-slider_info {
            color: $white-text;

            & .title {
              display: block;
              font-size: 25px;
            }

            & .text {
              display: block;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.owl-carousel {
  position: relative;

  & .owl-dots {
    width: 1070px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 23px;

    & .owl-dot {
      width: 17px;
      height: 17px;
      background-color: rgba(255, 255, 255, 0.61);
      margin-left: 7px;
      border-radius: 50%;

      &:last-child {
        margin-left: 0;
      }
    }

    & .active {
      background-color: $white;
    }
  }
}

@media (max-width: 575px) {
  .header-slider {
    height: 480px;

    & .slider-1 {
      & .item {
        & .banner {
          width: 150%;
          height: 480px;
        }

        & .header-slider_main {
          width: 300px;
          top: 50%;
          text-align: center;

          & .header-slider_box {
            flex-direction: column;

            & img {
              margin: 0 0 10px 0;
            }

            & .header-slider_info .title {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .owl-carousel .owl-dots {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .header-slider {
    height: 380px;

    & .slider-1 {
      & .item {
        & .banner {
          width: 120%;
          height: 380px;
        }

        & .header-slider_main {
          width: 540px;
          top: 50%;
        }
      }
    }
  }

  .owl-carousel .owl-dots {
    width: 540px;
  }
}

@media (max-width: 991px) {
  .header-slider {
    height: 380px;

    & .slider-1 {
      & .item {
        & .banner {
          width: 120%;
          height: 380px;
        }

        & .header-slider_main {
          width: 720px;
          top: 50%;
        }
      }
    }
  }

  .owl-carousel .owl-dots {
    width: 720px;
  }
}

@media (max-width: 1199px) {
  .header-slider {
    height: 450px;

    & .slider-1 {
      & .item {
        & .banner {
          width: 120%;
          height: 450px;
        }

        & .header-slider_main {
          width: 950px;
          top: 65%;
        }
      }
    }
  }

  .owl-carousel .owl-dots {
    width: 950px;
  }
}
