.btn {
  display: inline-block;
}

.btn-big {
  height: 38px;
  padding: 0 60px;
  border-radius: 20px;
  background-color: $orange;
  color: $white-text;
  line-height: 38px;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.btn-big_sup {
  height: 46px;
  padding: 0 80px;
  border-radius: 30px;
  background-color: $orange;
  color: $white-text;
  line-height: 46px;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.btn-small {
  height: 30px;
  padding: 0 30px;
  border-radius: 20px;
  background-color: $orange;
  color: $white-text;
  line-height: 30px;

  &:hover {
    opacity: 0.8;
    color: $white-text;
  }
}

.btn-orange-light {
  display: block;
  width: 160px; //===============================
  height: 30px;
  border-radius: 20px;
  border: 1px solid $orange;
  line-height: 28px;
  color: $orange;
  padding: 0 40px;

  &:hover {
    background-color: $orange;
    color: $white-text;
  }
}
