.footer {
  position: relative;

  .footer-nav {
    background-color: #3c3c3c;
    padding: 35px 0;

    & .logo {
      width: 90px;
      height: 90px;
      position: absolute;
      bottom: -80px;

      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    & .nav {
      padding-right: 122px;

      & ul {
        display: flex;

        & li {
          margin-left: 26px;

          &:last-child {
            margin-left: 0;
          }

          & a {
            color: $white-text;
            font-size: 16px;
            font-weight: $Regular;

            &:hover {
              color: $orange;
            }
          }
        }

        & .active a {
          color: $orange;
        }
      }
    }
  }

  & .footer-copyright {
    background-color: #343434;
    padding: 15px 0;

    & .footer-copyright_box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white-text;
      font-size: 20px;
      font-weight: $Medium;

      & p {
        padding-right: 122px;
      }

      & .social ul li {
        height: 50px;

        & a svg {
          fill: #1c1c1c;
        }

        & .fa-facebook svg:hover {
          fill: #3b5999;
        }

        & .fa-youtube svg:hover {
          fill: #cd201f;
        }

        & .fa-instagram svg:hover {
          fill: #e4405f;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    & .footer-nav {
      padding-bottom: 80px;

      & .logo {
        left: 50%;
        transform: translate(-50%);
        bottom: -123px;
      }

      & .nav {
        padding: 0;
        text-align: center;

        & ul {
          flex-wrap: wrap;
          justify-content: center;

          & li {
            margin: 0;
            flex: 0 0 48%;
            margin-bottom: 20px;

            &:nth-last-child(-n + 2) {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    & .footer-copyright {
      padding-top: 80px;

      & .footer-copyright_box {
        flex-direction: column-reverse;
        align-items: center;
        font-size: 18px;

        & p {
          padding-right: 0;
          text-align: center;
        }

        & .social {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    & .footer-nav .nav ul {
      flex-wrap: wrap;

      & li {
        flex: 0 0 40%;
        margin-bottom: 20px;

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }
    }

    & .footer-copyright .footer-copyright_box {
      flex-direction: column-reverse;
      align-items: center;
      font-size: 18px;

      & p {
        padding-right: 0;
        text-align: center;
      }

      & .social {
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    & .footer-nav .nav ul {
      flex-wrap: wrap;

      & li {
        flex: 0 0 20%;
        margin-bottom: 20px;

        &:nth-last-child(-n + 4) {
          margin-bottom: 0;
        }
      }
    }

    & .footer-copyright .footer-copyright_box {
      font-size: 16px;
    }
  }
}
