.header {
  display: flex;
  height: 180px;
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(
    180deg,
    rgba(18, 27, 44, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  & .header-box {
    & .logo {
      position: absolute;
      left: 50%;
      top: 32px;
      transform: translateX(-50%);
      z-index: 2;
    }

    & .navigations {
      align-items: flex-start;
      padding-top: 45px;

      & .navbar {
        & .navbar-collapse {
          & .navbar-nav {
            width: 32%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .nav-item {
              display: flex;
              justify-content: space-between;

              & .nav-link {
                display: block;
                color: $white-text;
                font-family: $Rubik;
                font-size: $font-text;
                font-weight: $Regular;
                text-transform: uppercase;
                text-align: center;
                position: relative;

                &:hover {
                  color: $orange;
                }
              }

              & .active {
                color: $orange;
              }
            }
          }
        }
      }
    }
  }
}
